<dl class="argument">
    <dt{% if not node.noindex %} id="{{ node.anchor }}"{% endif -%}>
        <code class="sig-name descname"><span class="pre">{{ node.plainContent }}
                {%- if node.shortcut %} / {{ node.shortcut }}{% endif -%}
            </span></code>
        {% if not node.noindex %}
            <a class="headerlink" href="#{{ node.anchor }}" data-bs-toggle="modal" data-bs-target="#linkReferenceModal" data-id="{{ node.anchor }}" data-rstCode="{{ getRstCodeForLink(node) }}"  title="Reference this configuration value">¶</a>
        {% else %}
            <span class="headerNoindex" title="This argument cannot be linked directly. Consider to link to the section above."><i class="fa-solid fa-link-slash"></i></span>
        {% endif -%}
    </dt>
    <dd>
        <dl class="field-list simple">
            {% if node.type != null %}
                <dt class="field-even">Type</dt>
                <dd class="field-even">{{ renderNode(node.type) }}
                </dd>
            {% endif -%}
        </dl>
        <div class="argument-description">
            {{ node.description }}
        </div>
        {% if node.value %}
        <div class="command-description-extended">
            {{ renderNode(node.value) }}
        </div>
        {% endif %}
    </dd>
</dl>
